{% extends "base1.html" %}
{% block title %} Employeer {% endblock %}


{% block main %}
<div class="container">
    <a href="/employeer/create" class="btn btn-primary">
        Add New
    </a>

    <div class="card">
        <div class="card-header">
            Employeer Details
        </div>
        <div class="card-body">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for employeer in employeers %}
                    <tr>
                        <th scope="row">{{employeer.id}}</th>
                        <td>{{employeer.first_name}}</td>
                        <td>{{employeer.last_name}}</td>
                        <td>{{employeer.email}}</td>
                        <td>
                            <a href="/employeer/edit/{{employeer.id}}" class="btn btn-outline-info btn-sm">Update</a>
                            <a href="/employeer/delete/{{employeer.id}}" class="btn btn-outline-danger btn-sm"
                                onclick="return confirm('Do you want to delete??');">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>

{% endblock %}