{% extends "base1.html" %}
{% block title %} Edit Employee {% endblock %}


{% block main %}
<div class="container">    
    <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Edit Employee</h5>        
    </div>

    <div class="col-sm-8">
        <div class="card">
          <div class="card-body">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="first_name">First Name</label>
                    <input type="text" name="first_name" value="{{person.first_name}}" class="form-control"
                        placeholder="Enter First Name">
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" name="last_name" value="{{person.last_name}}" class="form-control"
                        placeholder="Enter last Name">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" name="email" value="{{person.email}}" class="form-control" placeholder="Enter Email">
                </div>
                <div class="modal-footer">                    
                    <button type="submit" class="btn btn-success">Update</button>
                </div>
            </form>
          </div>
        </div>
      </div>
</div>

{% endblock %}