{% extends 'base1.html' %}
{% block title %} Register {% endblock %}
{% load bootstrap %}
{% block main %}

<div class="container">
    <h1>Register</h1>

    <form method="POST" action="">
        <div class="form-group">
            <label>First Name</label>
            <input type="text" name="first_name" class="form-control" required>
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input type="text" name="last_name" class="form-control" required>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" name="email" class="form-control" required>
        </div>
        <div class="form-group">
            <label>Contact no</label>
            <input type="text" name="contact_no" class="form-control" required>
        </div>
        {% csrf_token %}
        <button type="submit" class="btn btn-success">Register</button>
    </form>

</div>
{% endblock %}